@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

:root {
    --font: 'Quicksand';
    --color-box: #FFFFFF;
    --hover: #F9D923;
    --button-gol: #54B435;
    --button-cancel: #b43535;
    --bg: linear-gradient(45deg, #36AE7C, #F9D923 50%, #EB5353);
    ;
    --black: #292929;
}

body {
    background: var(--bg);
    font-family: var(--font);
    font-weight: 700;
    height: 100vh;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
}

.scoreboard__results {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    width: 97%;
    padding: 1em 0;
    margin-top: 3em;
}

.scoreboard__team {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.scoreboard__time {
    display: flex;
    flex-direction: column;
    width: 20%;
}


.team {
    background-color: var(--color-box);
    font-size: 18px;
    margin-bottom: 1em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 3em;
}

.score {
    background-color: var(--color-box);
    font-size: 56px;
    border-radius: 5px;
    height: 3em;
    line-height: 3em;
    text-align: center;
}

.time {
    background-color: var(--color-box);
    text-align: center;
    padding: 0.2em 0.4em;
    margin-bottom: 0.5em;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}

.time__button {
    background-color: var(--color-box);
    border: none;
    border-radius: 8px;
    margin-top: 1em;
    padding: 0.4em 0.5em;
    font-size: 14px;
    cursor: pointer;
}

.time__button:hover {
    background: var(--hover);
    transition: 0.2s;
}


.scoreboard__buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5em;
}

.scoreboard__reset {
    margin: 2em 0;
}

.reset__game {
    background-color: var(--color-box);
    font-size: 14px;
    border: none;
    padding: 0.7em 1.3em;
    border-radius: 7px;
    box-shadow: -2px 1px 5px var(--black);
    cursor: pointer;
}

.gol {
    background-color: var(--button-gol);
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 0.7em 0em;
    border-radius: 10px;
    box-shadow: -3px 2px 5px var(--black);
    cursor: pointer;
}

.cancel {
    background-color: var(--button-cancel);
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 0.7em 0em;
    border-radius: 10px;
    box-shadow: -3px 2px 5px var(--black);
    margin-top: 1em;
    cursor: pointer;
}

@media screen and (min-width:1024px) {

    .scoreboard__results,
    .scoreboard__buttons {
        margin-top: 1.5em;
    }

    .scoreboard__team {
        width: 30%;
    }

    .scoreboard__time {
        width: 33%;
        align-items: center;
    }

    .team {
        font-size: 56px;
    }

    .score {
        font-size: 9em;
    }

    .time {
        padding: 0.2em 0.2em;
        font-size: 112px;
    }

    .time__button {
        font-size: 22px;
        width: 50%;
    }

    .gol {
        font-size: 28px;
    }

    .cancel {
        font-size: 28px;
    }

    .reset__game {
        font-size: 22px;
    }

    .reset__game:hover {
        background-color: #0081B4;
        font-size: 23px;
        transition: 0.3s;
    }

    .gol:hover {
        background: #47e412;
        transition: 0.3s;
        font-size: 32px;
    }

    .cancel:hover {
        background: #d41515;
        transition: 0.3s;
        font-size: 30px;
    }

}

@media screen and (min-width:1240px) {

    .time {
        font-size: 140px;
    }

    .reset__game:hover {
        background-color: #0081B4;
        font-size: 24px;
        transition: 0.3s;
    }

    .gol:hover {
        background: #47e412;
        transition: 0.3s;
        font-size: 34px;
    }

    .cancel:hover {
        background: #d41515;
        transition: 0.3s;
        font-size: 30px;
    }
}

@media screen and (min-width:1444px) {
    .time {
        font-size: 160px;
    }
}